.app-route-wrapper {
    height: 100%;

    & .navbar-wrapper {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    & .about-section {
        margin-top: 6vw;
    }

    & .testimonial-section {
        margin-top: 10vw;
    }

    & .team-route-wrapper {
        margin: 7vw 0 8vw;
    }

    & .team-member-wrapper {
        height: 100%;

        & .team-item {
            height: 36vw;

            & img.img-fluid {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}