.app-route-wrapper {
    height: 100%;

    & .navbar-wrapper {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    & .about-section {
        margin-top: 6vw;
    }

    & .testimonial-section {
        margin-top: 10vw;
    }

    & .team-route-wrapper {
        margin: 7vw 0 8vw;
    }

    & .contact-us-wrapper {
        margin: 8vw 7vw 4vw;

        & .cards-row-wrapper {
            height: 30vw !important;

            & .flexed-card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                & .btn-square.bg-white.rounded-circle.mx-auto.mb-4 {
                    margin-bottom: 3rem !important;
                }

                & .contact-us-number {
                    color: #5F656F;
                }
            }
        }
    }

    .orange {
        color: #cc4b10 !important;
    }
}