.product-partner-wrapper {
    padding: 3vw !important;
    background-color: #1E2B26 !important;
    cursor: pointer;

    & .mountain-grout-wrapper {
        background-color: #fff;
        margin: 0 5vw;
        border-radius: 6px;
        padding: 3%;
        margin-bottom: 2vw;

        & img {
            width: 25vw;
        }
    }

    & .authorized-dealer-text {
        font-size: 1.4vw;
        color: #009153 !important;
        text-transform: uppercase;
        font-weight: 600 !important;
    }
}

.product-partner-wrapper:hover {
    background-color: #293b34 !important;
}

.product-partner-wrapper-mobile {
    background-color: #1E2B26 !important;

    &>div {
        padding: 0 2rem;
    }

    & .mountain-grout-wrapper {
        background-color: #fff;
        border-radius: 6px;
        padding: 1rem;
        margin-bottom: 2vw;

        & img {
            width: 15rem;
        }
    }

    & .authorized-dealer-text {
        font-size: 1.1rem;
        color: #009153 !important;
        text-transform: uppercase;
        font-weight: 600 !important;
    }
}